
@font-face {
    font-family: 'BigBottomTypeface';
    src: url('fonts/Big_Bottom_Typeface_Normal.eot');
    src: local('Big Bottom Typeface'),
         url('fonts/Big_Bottom_Typeface_Normal.ttf') format('truetype'),
         url('fonts/Big_Bottom_Typeface_Normal.svg') format('svg');
}

@font-face {
  font-family: 'Curse Casual';
  src: url('fonts/CurseCasualRegular.eot');
  src: url('fonts/CurseCasualRegular.eot?#iefix') format('embedded-opentype'),
    url('fonts/CurseCasualRegular.woff2') format('woff2'),
    url('fonts/CurseCasualRegular.woff') format('woff'),
    url('fonts/CurseCasualRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Verdana';
}

body, h1 {
  margin: 0;
  padding: 0;
}

a:link {
  cursor: pointer;
}

a.name {
  font-family: 'Curse Casual';
  letter-spacing: 1.5px;
}

.icon.social {
  height: 45px;
  width: 45px;
  padding-left: 0;
  padding-right: 0;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
  display: inline-block;
  color: #fff;
  border-color: rgba(0,0,0,0.2);
}

.icon.social.github {
  background-color: #444;
}

.icon.social.linkedin {
  background-color: #007bb6;
}

.icon.social i {
  line-height: 45px;
  font-size: 1.8em;
}

.header {
  font-family: 'Curse Casual';
  letter-spacing: 3px;
  color: #b7de36;
  vertical-align: middle;
  background-color: #3582b1;
  padding-left: 10px;
  position: fixed;
  width: 100vw;
  top: 0;
}

.header img {
  height: 35px;
}

.header span {
  font-size: 1.5em;
  line-height: 1.5em;
}

.main-content {
  margin-top: 100px;
  padding-left: 10px;
}

.title {
  font-family: 'Curse Casual';
  letter-spacing: 1.5px;
  color: #3582b1
}

.schema {
  text-align: center;
  padding: 20px;
  width: 80vw;
  margin: auto;
}

.schema .arrow,
.schema .link {
  color: #3582b1;
  display: inline-block;
  font-weight: bold;
  font-size: 2em;
}

.schema .framework {
  color: #fff;
  font-weight: bold;
  background-color: #3582b1;
  text-align: center;
  padding: 20px;
}

.schema .link {
  width: 20vw;
}

.schema .component {
  margin-top: 10px;
  border: 2px solid #3582b1;
  text-align: center;
  padding: 5px;
  display: inline-block;
  width: 20vw;
}

.schema.flow .component {
  width: 15vw;
}

.plugins li label {
  display: inline-block;
  width: 200px;
  color: #3582b1;
}

.plugins .unwrapper:nth-child(2) {
  border-top: 1px solid #ddd;
}
