
@font-face {
    font-family: 'BigBottomTypeface';
    src: url('fonts/Big_Bottom_Typeface_Normal.eot');
    src: local('Big Bottom Typeface'),
         url('fonts/Big_Bottom_Typeface_Normal.ttf') format('truetype'),
         url('fonts/Big_Bottom_Typeface_Normal.svg') format('svg');
}

@font-face {
  font-family: 'Curse Casual';
  src: url('fonts/CurseCasualRegular.eot');
  src: url('fonts/CurseCasualRegular.eot?#iefix') format('embedded-opentype'),
    url('fonts/CurseCasualRegular.woff2') format('woff2'),
    url('fonts/CurseCasualRegular.woff') format('woff'),
    url('fonts/CurseCasualRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Castorgate';
  src: url('fonts/Castorgate.eot');
  src: url('fonts/Castorgate.eot?#iefix') format('embedded-opentype'),
    url('fonts/Castorgate.woff2') format('woff2'),
    url('fonts/Castorgate.woff') format('woff'),
    url('fonts/Castorgate.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Kingthings';
  src: url('fonts/Kingthings Exeter.woff') format('woff'),
    url('fonts/Kingthings Exeter.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Libel';
  src: url('fonts/libel-suit-rg.woff') format('woff'),
    url('fonts/libel-suit-rg.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Verdana';
  font-size: 30px;
  color: #fff;
}

.background {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #1e5799;
  background: -moz-linear-gradient(-45deg, #1e5799 0%, #213b65 100%);
  background: -webkit-linear-gradient(-45deg, #1e5799 0%,#213b65 100%);
  background: linear-gradient(135deg, #1e5799 0%,#213b65 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#213b65',GradientType=1 );

}

a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

@media screen and (min-width: 1000px) {
  body {
    font-size: 16px;
  }
}

body, h1 {
  margin: 0;
  padding: 0;
}

a:link {
  cursor: pointer;
}

a.name {
  font-weight: bold;
  font-family: 'Castorgate';
  letter-spacing: 1.5px;
}

a.name span {
  font-family: 'Kingthings';
}

.main {
  font-size: 1.4em;
  line-height: 1.4em;
  padding-bottom: 30px;
  font-weight: 100;
}

.main .name {
  color: #c7d732;
  font-size: 1.4em;
}
.main .name img {
  padding-left: 3px;
  height: 25px;
}

.section {
  padding-top: 10px;
  padding-bottom: 20px;
}

.icons {
  padding-top: 10px;
}

.icon.social {
  height: 100px;
  width: 100px;
  padding-left: 0;
  padding-right: 0;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
  display: inline-block;
  color: #fff;
  border-color: rgba(0,0,0,0.2);
}

.icon.social.github {
  background-color: #222;
}

.icon.social.linkedin {
  background-color: #007bb6;
}

.icon.social i {
  line-height: 100px;
  font-size: 4em;
}

@media screen and (min-width: 1000px) {
  .icon.social {
    height: 45px;
    width: 45px;
  }

  .icon.social i {
    line-height: 45px;
    font-size: 1.8em;
  }
}

.header {
  position: fixed;
  height: 80px;
  font-family: 'Castorgate';
  letter-spacing: 1.5px;
  color: #fff;
  vertical-align: middle;
  width: 100vw;
  min-height: 80px;
  z-index: 100;
  display: flex;
}

.header h1 {
  text-align: center;
  display: inline-block;
  margin: auto;
  height: 100%;
  padding-left: 20px;
}

.header .text {
  vertical-align: middle;
}

.header .image {
  vertical-align: middle;
  display: inline-block;
  height: 100%;
}

.header .image img {
  height: 100%;
}

.header span {
  font-size: 1.5em;
  line-height: 1.5em;
}

.header .filler {
  flex: 1;
}

.header .menu {
  display: inline-block;
  vertical-align: middle;
  margin: auto;
  padding-right: 20px;
}

.main-content {
  width: 100%;
  margin-top: 120px;
  display: inline-block;
  text-align: center;
}

.header .menu span:hover {
  color: #c7d732;
  cursor: pointer;
}

.title h2 {
  font-weight: bold;
  font-family: 'Castorgate';
  letter-spacing: 1.5px;
  color: #c7d732;
}

@media screen and (min-width: 1000px) {
  .header span {

  }
}


.expertises .item {
  display: inline-flex;
  width: 100%;
  padding-bottom: 5px;
}

.expertises .item label {
  flex: 0.5;
  font-weight: bold;
  font-family: 'Castorgate';
  letter-spacing: 1.5px;
  color: #c7d732;
  text-align: right;
}

.expertises .item label span {
  font-family: 'Libel';
  font-weight: 100;
}

.expertises .item span.content {
  flex: 1;
  text-align: left;
  padding-left: 5px;
}

.expertises .item .links img {
  width: 25px;
}

.membership img {
  height: 80px;
  padding-left: 25px;
}

.membership a:nth-child(1) img {
  padding-left: 0px;
}

.contact {
  margin-bottom: 50px;
}

.contact .title{
  font-size: 0.8em;
}

.contactemail {
  font-family: 'Libel';
}

.software {
  margin-bottom: 20px;
}
.software label {
  color: #c7d732;
  display: inline-block;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

.moredetails {
  font-size: 0.8em;
  color: #666;
}


.catalog img,
.webplayer img {
  height: 100px;
  filter: invert(100%);
  opacity: 0.6;
}

.catalog .content,
.webplayer .content {
  margin: auto;
}

.newsletter {
  display: inline-block;
  text-decoration: none;
  color: #0b4c8a;
  cursor: pointer;
  border: 1px solid #c7d732;
  border-radius: 4px;
  padding-right: 10px;

  background: #c7d732;
  outline: none;
}

.newsletter:hover {
  color: #0b4c8a;
  background: #dde687;
}

.newsletter img {
  height: 40px;
  vertical-align: middle;
}
