<div class="main-header"> 
  <div>
  	<!-- <img src="/assets/images/media-io-white-horizontal.svg" alt="Logo Media-IO" width="50%" /> -->
    <!-- <img src="http://support.media-io.com/images/media-io_logo_white.png" alt="Logo Media-IO" width="100%" /> -->
  </div>
  <div class="filler"></div>
  <div>
    <!-- <img src="/assets/images/media-io-white-horizontal.svg" alt="Logo Media-IO" width="100%" /> -->

    <img src="http://support.media-io.com/images/media-io_logo_white.png" alt="Logo Media-IO" width="250px" style="margin-left: 170px" />
  </div>
  <div class="filler"></div>
  {% include navigation.html %}
  {% include network.html %}
</div>
