
@media screen and (min-width: 1024px) {
	.customers {
		display: flex;
		padding-top: 60px;
	}


	.customers .customer img {
		height: 80px;
	}
}

@media screen and (max-width: 1023px) {
	.customers .customer {
		padding: 15px 0px;
	}

	.customers .customer img {
		width: 150px;
	}
}

.customers .filler,
.customers .customer {
	flex: 1;
}

