@font-face {
  font-family: "Castorgate";
  src: url("/assets/fonts/Castorgate.eot");
  src: url("/assets/fonts/Castorgate.woff") format("woff"),
  url("/assets/fonts/Castorgate.svg#filename") format("svg");
}

@font-face {
  font-family: 'Muli-SemiBold';
  src: url('Muli-SemiBold.eot');
  src: url('Muli-SemiBold.eot?#iefix') format('embedded-opentype'),
       url('Muli-SemiBold.svg#Muli-SemiBold') format('svg'),
       url('Muli-SemiBold.woff') format('woff'),
       url('Muli-SemiBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muli-Regular';
  src: url('Muli-Regular.eot');
  src: url('Muli-Regular.eot?#iefix') format('embedded-opentype'),
       url('Muli-Regular.svg#Muli-Regular') format('svg'),
       url('Muli-Regular.woff') format('woff'),
       url('Muli-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muli-MediumItalic';
  src: url('Muli-MediumItalic.eot');
  src: url('Muli-MediumItalic.eot?#iefix') format('embedded-opentype'),
       url('Muli-MediumItalic.svg#Muli-MediumItalic') format('svg'),
       url('Muli-MediumItalic.woff') format('woff'),
       url('Muli-MediumItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muli-Medium';
  src: url('Muli-Medium.eot');
  src: url('Muli-Medium.eot?#iefix') format('embedded-opentype'),
       url('Muli-Medium.svg#Muli-Medium') format('svg'),
       url('Muli-Medium.woff') format('woff'),
       url('Muli-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muli-LightItalic';
  src: url('Muli-LightItalic.eot');
  src: url('Muli-LightItalic.eot?#iefix') format('embedded-opentype'),
       url('Muli-LightItalic.svg#Muli-LightItalic') format('svg'),
       url('Muli-LightItalic.woff') format('woff'),
       url('Muli-LightItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muli-Light';
  src: url('Muli-Light.eot');
  src: url('Muli-Light.eot?#iefix') format('embedded-opentype'),
       url('Muli-Light.svg#Muli-Light') format('svg'),
       url('Muli-Light.woff') format('woff'),
       url('Muli-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muli-Light';
  src: url('Muli-Light.eot');
  src: url('Muli-Light.eot?#iefix') format('embedded-opentype'),
       url('Muli-Light.svg#Muli-Light') format('svg'),
       url('Muli-Light.woff') format('woff'),
       url('Muli-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Muli-ExtraLightItalic';
  src: url('Muli-ExtraLightItalic.eot');
  src: url('Muli-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
       url('Muli-ExtraLightItalic.svg#Muli-ExtraLightItalic') format('svg'),
       url('Muli-ExtraLightItalic.woff') format('woff'),
       url('Muli-ExtraLightItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muli-ExtraLight';
  src: url('Muli-ExtraLight.eot');
  src: url('Muli-ExtraLight.eot?#iefix') format('embedded-opentype'),
       url('Muli-ExtraLight.svg#Muli-ExtraLight') format('svg'),
       url('Muli-ExtraLight.woff') format('woff'),
       url('Muli-ExtraLight.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muli-ExtraBoldItalic';
  src: url('Muli-ExtraBoldItalic.eot');
  src: url('Muli-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
       url('Muli-ExtraBoldItalic.svg#Muli-ExtraBoldItalic') format('svg'),
       url('Muli-ExtraBoldItalic.woff') format('woff'),
       url('Muli-ExtraBoldItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muli-ExtraBold';
  src: url('Muli-ExtraBold.eot');
  src: url('Muli-ExtraBold.eot?#iefix') format('embedded-opentype'),
       url('Muli-ExtraBold.svg#Muli-ExtraBold') format('svg'),
       url('Muli-ExtraBold.woff') format('woff'),
       url('Muli-ExtraBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muli-BoldItalic';
  src: url('Muli-BoldItalic.eot');
  src: url('Muli-BoldItalic.eot?#iefix') format('embedded-opentype'),
       url('Muli-BoldItalic.svg#Muli-BoldItalic') format('svg'),
       url('Muli-BoldItalic.woff') format('woff'),
       url('Muli-BoldItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muli-Bold';
  src: url('Muli-Bold.eot');
  src: url('Muli-Bold.eot?#iefix') format('embedded-opentype'),
       url('Muli-Bold.svg#Muli-Bold') format('svg'),
       url('Muli-Bold.woff') format('woff'),
       url('Muli-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muli-BlackItalic';
  src: url('Muli-BlackItalic.eot');
  src: url('Muli-BlackItalic.eot?#iefix') format('embedded-opentype'),
       url('Muli-BlackItalic.svg#Muli-BlackItalic') format('svg'),
       url('Muli-BlackItalic.woff') format('woff'),
       url('Muli-BlackItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muli-Black';
  src: url('Muli-Black.eot');
  src: url('Muli-Black.eot?#iefix') format('embedded-opentype'),
       url('Muli-Black.svg#Muli-Black') format('svg'),
       url('Muli-Black.woff') format('woff'),
       url('Muli-Black.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muli-SemiBoldItalic';
  src: url('Muli-SemiBoldItalic.eot');
  src: url('Muli-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
       url('Muli-SemiBoldItalic.svg#Muli-SemiBoldItalic') format('svg'),
       url('Muli-SemiBoldItalic.woff') format('woff'),
       url('Muli-SemiBoldItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
