
.membership {
  padding: 10px;
  display: flex;
}

.membership span {
  vertical-align: middle;
}

.membership span:nth-child(1) {
  margin-right: 20px;
}

div.memberships {
	max-width: 800px;
    margin: auto;
    text-align: left;
}