
.posts {
  padding-left: 0px;
}

.posts .post {
  list-style: none;
  background-color: #eee;
  border-radius: 20px;
  margin: 10px 0px;
}

.posts .post h2 {
  color: #1e5799;
  margin-bottom: 0px;
  padding: 10px 10px 0px 10px;
  background-color: #ddd;
  border-radius: 15px 20px 0 0;
}

.posts .post-content {
  min-height: 100px;
}

.posts hr {
  color: #F00;
}

.posts .post .date {
  font-size: 0.8em;
  color: #444;
  padding-left: 10px;
  padding-bottom: 10px;
  background-color: #ddd;
}

.posts .post .wrapper {
  display: flex;
  padding: 0px 10px 10px 10px;
  // border-bottom: #d0d0d0 1px solid;
}

.post-image.left {
  float: left;
  padding: 20px 20px 15px 0px;
  // padding-right: 20px;
  // padding-bottom: 15px;
}

.post-image.left img {
  max-width: 80px;
}

.post-image.bandeau {
  height: 80px;
}

.post-image.bandeau img {
  max-width: 100%;
}

